{% extends 'index/base.html' %}

{% block content %}
    <h2>СРОЧНЫЕ НОВОСТИ</h2>
    
    {% for item in news %}
        <div style="border: 1px solid #ddd; padding: 15px; margin-bottom: 15px; border-radius: 8px;">
            <h3>{{ item.title }}</h3>
            <p style="color: #666; font-size: 0.9em;">
                Категория: {{ item.category.name }} | Дата: {{ item.created_at|date:"d.m.Y" }}
            </p>
            <p>{{ item.content|truncatewords:50 }}</p>
        </div>
    {% empty %}
        <p>РАСУЛ НАКОНЕЦТО СДЕЛАЛ ДОМАШКУ .</p>
    {% endfor %}
{% endblock %}